
global:
  smtp_smarthost: 'smtp.gmail.com:465'
  smtp_from: 'mel.chaubaroux@gmail.com'
  smtp_auth_username: 'mel.chaubaroux@gmail.com'
  smtp_auth_password: 'TON_APP_PASSWORD'
  smtp_require_tls: true

route:
  receiver: 'email-alerts'
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h

receivers:
  - name: 'email-alerts'
    email_configs:
      - to: 'mel.chaubaroux@gmail.com'
        send_resolved: true