name: CI Pipeline
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          
      
      # - name: Lint
      #   run: |
      #     pip install ruff
      #     ruff check .

      
      - name: Run tests
        env:
            PYTHONPATH: ${{ github.workspace }}
        run: |
          pip install pytest
          pytest 
      
      # - name: Security check
      #   run: |
      #     pip install bandit
      #     bandit -r . -f json -o bandit-report.json